html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.root-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of viewport */
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1; /* Pushes footer to the bottom */
}
